section.articles {
    background: #F5F5FA;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2.pub {
    margin-top: 10px;
}

div.cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

div.card {
    font-size: 0;
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
    
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
        
    }
}

div.info > * {
    margin-bottom: 15px;
}

time {
    color: #B3B3BA;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div.divider {
    margin-top: 15px;
    border-top: 4px solid #E6E6F0;
}

div.info {
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;

    a {
        color: #24A3FF;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        text-decoration: none;
    }

    
    
    p {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin: 0;

    }
}
