div.footer {
    margin-top: 30px;
    margin-bottom: 0;

    div.divider {
        border-top: 2px solid #E6E6F0;

    }

    div.f-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }

    div.address-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 21px;
    }

    div.foot-address p {
        color: #323264;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
}

    div.direction a {
        text-transform: uppercase;
        color: #24A3FF;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
       
    }

    div.contact-box > * {
        margin: 0;
    }

    div.contact-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .phone.foot a {
        color: #46466E;
    }

    .email a {
        color: #24A3FF;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        
    }

    .email a:hover {
        color: #F0145A;
    }


    .copyright {
        display: flex;
    
        p {
        color: #B3B3BA;
        font-size: 16px;
        font-weight: 400;

        }

    }



