

div.lang {
    display: flex;
    align-items: center;

    input {
        display: none;
    }
}

span.lang-name {
    padding: 5px 7px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

div.lang label:has(input:checked) {
    border-radius: 8px;
    background: red;
    cursor: pointer;
}

div.lang label:hover {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.20);
}


div.address {
    display: none;

    a {
        color: #B3B3BA;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }
}

div.phone {
    display: flex;
    align-items: center;

    a {
        color: #FFF;
        text-align: right;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;

    }
}

div.social {
    display: none;
}

div.logo {
    margin-left: 15px;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 32px;
}

div.contacts {
    flex: 1 0 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 250, 0.2);
    order: 1;
}

div.contacts>div {
    align-items: center;
}

div.navigation {
    display: none;
}

div.navigation>a.nav-link {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

div.navigation>a.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.dropdown {
    background: rgba(50, 50, 100, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
}

.mobile {
    z-index: 5;
    display: none;
    

}

button.hamburger {
    margin-right: 15px;
    border: none;
    background: transparent;
    padding: 0;
    width: 32px;
    height: 32px;
    order: 3;
}

button.hamburger:active {
    background: #E6E6F0;
    border-radius: 8px;
}

.dropdown-content a {
    color: #24A3FF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    padding: 7px 0px;
    gap: 10px;
    border-radius: 12px;
    background: #F5F5FA;

}

div.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.menu-sheet {
        border-radius: 12px 12px 0px 0px;
        background: #FFF;
        padding: 12px;
        display: block;
        position: fixed;
        bottom: 0;
        left: 8px;
        right: 8px;
    }
    
    


div.bc {
     display: flex;
     justify-content: flex-end;
     margin-bottom: 20px;
}
button.close {
    background: transparent;
    width: 32px;
    height: 32px;
    border: none;
}

header.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
    max-width: 1720px;
    margin: auto;
}
