div.main-splash {
    height: 600px;
    background: url(../images/Symbol.png) no-repeat center;
    background-size: auto 100%;
    position: relative;
}
div.main-splash::after {
    position: absolute;
    content: "you legal solutions provider";
    color: #FFF;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
button.scroll-button {
        background: none;
        border: none;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        cursor: pointer;
}
button.scroll-button:hover svg g * {
    stroke: #F0145A;
}
button.scroll-button:hover svg defs * {
    fill: #F0145A;
}