div.card.article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.spacer.pub {
    display: block;
    height: 30px;
}
div.info-entry {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

p.ben-title.entry {
    color: #323264;
}

p.description.article {
    color: #000;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    line-height: 26px;
    align-self: stretch;
}

div.description-1.article {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

p.art-bold {
    color: #46466E;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}    

h2.article {
    margin: 0;
}

div.list-item {
    display: flex;
    gap: 10px;
}

p.number {
    color: #F0145A;

    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    text-align: end;
}

p.list-item-text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

div.number {
    flex: 0 0 30px;
    // display: flex;
    // justify-content:right;
    // flex-direction: column;

}

div.article-picture {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.article-picture-desc {
    color: var(--grey-text, #B3B3BA);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

div.sm-icons {
    display: flex;
    gap: 10px;
}

button.sm {
    border-radius: 12px;
    background: #F5F5FA;
    padding: 9px;
    border: none;
}

div.spacer {
    display: block;
}
