section.top {
    padding: 0px 30px;
    position: relative;
    border-radius: 0 0 12px 12px;
    max-width: 1600px;
}

div.general {
    display: inline-block;
    font-size: 0;

    svg {
        width: 12px;
        height: 12px;
        margin-left: 2px;
        margin-bottom: -1px;
    }
}

.general a:hover {
    color: red;
}

div.general a {
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
}

div.general a:hover svg path {
    stroke: #F0145A;
  }

h2 {
    font-size: 30px;
    font-weight: 700;
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
}

div.block h3 {
    color: #24A3FF;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;

}

div.block p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}


.block {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

div.icon {
    background-color: #FFF;
    border-radius: 24px;
    padding: 14px;
    display: inline-block;
}

img.icon-pic {
    width: 64px;
    height: 64px;
}
