@import './normalize.scss';
@import './section-top';
@import './team';
@import './clients';
@import './articles';
@import './header';

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat);
}



* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

div.background {
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding-bottom: 60px;
    position: relative;
}

div.background::before {
    position: absolute;
    content: "";
    background-color: #E7E7F2;
    height: 10px;
    display: block;
    border-radius: 0 0 12px 12px;
    right: 40px;
    left: 40px;
    top: calc(100% + 10px);
}

div.background::after {
    position: absolute;
    content: "";
    background-color: #CACADB;
    height: 10px;
    display: block;
    border-radius: 0 0 12px 12px;
    right: 20px;
    left: 20px;
    top: calc(100%);
}

@media (min-width: 768px) {

    section.top {
        padding: 0;
    }

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }

    .block {
        width: calc(50% - 30px);
        margin: 0;
    }

    .clients {
        display: flex;
        flex-wrap: wrap;
    }

    .client {
        width: 33.33%;
    }

    .client:nth-child(n + 7) {
        display: flex;
    }

    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .card:last-child {
        grid-column: 1 / -1;
    }

    div.member {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
    }

    div.address {
        display: flex;
    }

    div.social {
        display: flex;
    }

    div.logo {
        margin-left: 0;
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 130px;
        height: 60px;
    }

    div.logo svg {
        width: 100%;
        height: auto;
    }

    div.contacts {
        order: 1;
        justify-content: flex-start;
        padding: 0;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
    }

    div.contacts div:not(:last-child):after {
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        margin: 6px;
    }

    div.navigation {
        order: 3;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    button.hamburger {
        display: none;
    }

    header.header {
        flex-direction: column;
        row-gap: 30px;
    }

    div.background {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 50px;
    }
}

@media (min-width: 1024px) {

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .block {
        width: calc(33% - 60px);
    }

    .client {
        width: 25%;
    }

    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card:last-child {
        grid-column: auto / auto;
    }

    header.header {
        height: 66px;
        // взял значение в дизе + наш паддинг. Не указывать высоту не выйдет, иначе враппинг работать не будет.
        row-gap: 0;
    }

    div.logo {
        order: 1;
        flex: 0 0 60px;
        // вместо 50%
    }

    div.contacts {
        order: 2;
        flex: 0 0 calc(50%);
        justify-content: flex-end;
    }

    div.navigation {
        flex: 0 0 calc(50%);
        order: 2;
        align-items: self-end;
        justify-content: flex-end;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding-left: 160px;
        padding-right: 160px;
    }

    .wrapper-clients {
        padding-left: 100px;
        padding-right: 100px;
    }

    .client:nth-child(1) {
        border-radius: 12px 0 0 0;
    }

    .client:nth-child(4) {
        border-radius: 0 12px 0 0;
    }

    .client:nth-child(9) {
        border-radius: 0 0 0 12px;
    }

    .client:nth-child(12) {
        border-radius: 0 0 12px 0;
    }

}