@import './normalize.scss';
@import './section-top';
@import './team';
@import './clients';
@import './articles';
@import './header';
@import './experience';
@import './main-splash';
@import './footer';

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat);
}



* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

div.background {
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding-bottom: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.background::before {
    position: absolute;
    content: "";
    background-color: #E7E7F2;
    height: 10px;
    display: block;
    border-radius: 0 0 12px 12px;
    right: 40px;
    left: 40px;
    top: calc(100% + 10px);
}

div.background::after {
    position: absolute;
    content: "";
    background-color: #CACADB;
    height: 10px;
    display: block;
    border-radius: 0 0 12px 12px;
    right: 20px;
    left: 20px;
    top: calc(100%);
}
.wrapper {
    max-width: 1720px;
    padding: 0 30px;
    margin: auto;
}

@media (min-width: 768px) {

    section.top {
        padding: 0 60px;
    }

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 60px;
    }

    .block {
        width: calc(50% - 30px);
        margin: 0;
    }

    .clients {
        display: flex;
        flex-wrap: wrap;
    }

    .client {
        width: 33.33%;
    }

    .client:nth-child(n + 7) {
        display: flex;
    }

    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .card:last-child {
        grid-column: 1 / -1;
    }

    div.address {
        display: flex;
    }

    div.social {
        display: flex;
    }

    div.logo {
        margin-left: 0;
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 130px;
        height: 60px;
    }

    div.logo svg {
        width: 100%;
        height: auto;
    }

    div.contacts {
        order: 1;
        justify-content: flex-start;
        padding: 0;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
    }

    div.contacts div:not(:last-child):after {
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        margin: 6px;
    }

    div.navigation {
        order: 3;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    button.hamburger {
        display: none;
    }

    header.header {
        flex-direction: column;
        row-gap: 30px;
        padding: 50px 60px 0;
    }

    div.benefits {
        padding: 0 60px;
    }

    div.swipe {
        padding: 0 60px;
    }

    section.experience {
        gap: 60px;
        div.divider {
            margin: 0 60px;
        }
    }
    p.ben-title {
        color: #FFF;
        font-size: 30px;
        font-weight: 700;
        margin: 0;
    }
    div.main-splash {
        height: 1024px;
    }

    /*footer*/

    div.footer div.f-contacts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.footer div.address-box {
        flex-direction: row;
        order: -2;
    }

    div.contact-box {
        flex-direction: row;
        align-items: center;
    }
    }

    div.copyright {
        order: -1;
    }

    div.footer div.address-box {
        margin-bottom: 0;
    }


    div.contact-box > *:not(:last-child):after {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    margin: 6px;
   
}

@media (min-width: 1024px) {
    div.member {
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
    }

    .block {
        width: calc(33% - 60px);
    }

    .client {
        width: 25%;
    }

    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card:last-child {
        grid-column: auto / auto;
    }

    header.header {
        height: 116px;
        row-gap: 0;
    }

    div.logo {
        order: 1;
        flex: 0 0 60px;
    }

    div.contacts {
        order: 2;
        flex: 0 0 calc(50%);
        justify-content: flex-end;
    }

    div.navigation {
        flex: 0 0 calc(50%);
        order: 2;
        align-items: self-end;
        justify-content: flex-end;
    }
    div.swipe {
        overflow: visible;
    }
    section.experience {
        flex-direction: row;
        margin: auto;
    }
    div.swipe-drawer {
        flex-direction: column;
    }
    div.benefits {
        padding: 0 60px 0 0;
        flex: 1 0 calc(50% - 2px);
        align-self: center;
    }

    div.swipe {
        padding: 0 0 0 60px;
        align-self: center;
        min-width: 420px;
    }
    section.experience {
        flex-direction: row;
        justify-content: space-between;
        div.divider {
            margin: 0;
            border-left: 4px solid #FFFFFF4D;
        }
    }
    div.main-splash {
        height: 768px;
    }
}
@media (min-width: 1440px) {
    div.main-splash {
        height: 799px;
    }
}
@media (min-width: 1920px) {
    div.main-splash {
        height: 1000px;
    }
}
@media (min-width: 1720px) {
    section.clients {
        border-radius: 12px;
        overflow: hidden;
    }
}